body
{
 background-repeat:no-repeat;
 background-size:cover;
 color: black;
 background-color: grey;
font-family: 'Oswald', sans-serif;
}

#fOOTER
{
    position: fixed;
    bottom:0;
    width: 100%;
    background: black;
    color: grey;
    text-align: center;
}

canvas
{
 border-style: dotted;
 border-color:black ;
 margin-top: 100;
}